.ColorSelect {
  border-radius: 25px;
  background-color: white;
  z-index: 1;

  &__list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    padding: 5px 15px;
    background-color: transparent;
    outline: none;
    cursor: pointer;

    &--active {
      background-color: white;
      border-radius: 25px 25px 0 0;
    }
  }

  &__selected-color {
    margin-right: 120px;
  }

  &__select-arrow {
    &--active {
      transform: rotate(180deg);
    }
  }

  &__list-wrapper {
    position: relative;
    background-color: white;
    // padding: 5px 5px 20px 0;
  }

  &__list {
    position: absolute;
    left: 0;
    right: 0;
    height: 85px;
    overflow-y: scroll;
    background-color: white;
    border-radius: 0 0 25px 25px;
    padding-bottom: 10px;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }

  &__list-item {
    width: 95%;
    padding: 5px 15px;
    border: none;
    background-color: white;
    outline: none;
    text-align: left;
    cursor: pointer;
    border-radius: 0 25px 25px 0;
    z-index: 1;

    &:hover {
      background-color: #afc9e2;
    }
  }
}
